<div class="col-sm-12">
    <!-- <div class="card"> -->
    <!-- <div class="card-header">
                <strong>Customers</strong>
            </div> -->
    <!-- <div class="card-body"> -->
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Email</th>
                    <th>Name</th>
                    <th>Customer Roles</th>
                    <!-- <th>Company Name</th> -->
                    <th>Active</th>
                    <th>Created On</th>
                    <th>Last Activity</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                <tr
                    *ngFor="let c of lstcustomers | paginate: { itemsPerPage: pageSize, currentPage: pageIndex, totalItems: totalRecords }; let i =index;">
                    <td>{{c.email}}</td>
                    <td>{{c.name}}</td>
                    <td>
                        <span *ngFor="let cr of c.customerRole; let j=index">
                            {{lstCustomerRoles[cr].itemName}}<span *ngIf="c.customerRole.length > 1">,</span>
                        </span>
                    </td>
                    <!-- <td></td> -->
                    <td><i class="fa fa-check text-success"></i></td>
                    <td>{{c.createdOn | date :'dd/MM/yyyy,h:mm:ss a'}}</td>
                    <td>{{c.lastActivity | date :'dd/MM/yyyy,h:mm:ss a'}}</td>
                    <td>

                        <button class="btn btn-success btn-sm col-sm-12 mt-1" (click)="navigateToEditCustomer(c)"><i
                                class="fa fa-pencil"></i></button>
                    </td>
                </tr>
                <tr class="top-mrging">
                    <td colspan="9" *ngIf="(lstcustomers).length == 0" role="alert" class="alert-warning">
                    <strong>No record found</strong>
                    </td>
                    </tr>
            </tbody>
        </table>
    </div>

    <div class="row">
        <div class="col-md-4 col-12">
            <div class="total-count--table">
                <span>Total number of records : {{ totalRecords}}</span>
                <button class="btn btn-primary btn-sm" (click)="getCustomerList()"><i
                        class="fa fa-refresh"></i></button>
            </div>
        </div>
        <div class="col-md-6 col-12" *ngIf="(lstcustomers).length > 0">
            <div class="text-right">
                <pagination-controls class="pagination-sm pagination-box" (pageChange)="pageChanged($event)">
                </pagination-controls>
            </div>
        </div>
        <div class="col-md-2 col-12" *ngIf="(lstcustomers).length > 0">
            <div class="text-left">
                <select class="form-control" [(ngModel)]="pageSize" (change)="changePageSize($event.target.value)">
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="30">30</option>
                    <option value="40">40</option>
                    <option value="50">50</option>
                </select>
            </div>
        </div>
    </div>
    <!-- </div> -->
    <!-- </div> -->
</div>