<div class="col-sm-12">
    <div class="card">
        <div class="card-header">
            <div class="pull-left">
                <div class="row">
                    <strong>
                        <h3>Product Attributes</h3>
                    </strong>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- <div ng-reflect-justified="true" class="tab-container tab-box-main">
                            <ul class="nav tab-container tab-box-main nav-justified nav-tabs ul-box">
                                <li class="nav-item">
                                    <a class="btn btn-link li-link">
                                        <span></span>Attributes
                                    </a>
                                    <app-attributes></app-attributes>
                                </li>
                            </ul>
                        </div> -->
                        <tabset class="tab-menu-main">
                            <tab heading="Attributes">
                                <app-attributes></app-attributes>
                            </tab>
                        </tabset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>