table td {
  padding: 0.4rem !important;
}
.isEditDisplay {
  display: none;
}
.isshipment {
  display: block;
}
// table th {
//   background: #3dbee7 !important;
// }

.btn-blue {
  background: #20a8d8;
  color: #ffffff;
}
