<form [formGroup]="searchProdFrom" class="form-validate" role="form">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <strong class="pull-left">
                    Product
                </strong>
                <button class="btn btn-primary text-white pull-right btn-sm" (click)="addProduct()"><i class="fa fa-plus">Add
                        New</i></button>&nbsp;
                <!-- <button class="btn btn-danger text-white" (click)="deleteSelected()"><i class="fa fa-trash">Delete (selected)</i></button> -->

            </div>
            <div class="card-body">
                <!-- <div class="row">
                    <div class="form-group col-sm-6">
                        <label>Product Name</label>
                        <input type="text" class="form-control" formControlName="prodName">
                    </div>
                    <div class="form-group col-sm-6">
                        <label>Warehouse</label>
                        <select class="form-control" formControlName="wareHouse">
                            <option *ngFor="let w of lstWarehouse" [value]="w.id">
                                {{w.name}}
                            </option>
                        </select>
                    </div>
                </div> -->

                <div class="row">
                    <div class="form-group col-sm-6">
                        <label>Category</label>
                        <select class="form-control" formControlName="category">
                            <option [value]=0>All</option>
                            <option *ngFor="let c of lstCategory" [value]="c.id">{{c.name}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group col-sm-6">
                        <label>Published</label>
                        <select class="form-control" formControlName="published">
                            <option *ngFor="let p of lstPublised" [value]="p.id">{{p.name}}
                            </option>
                        </select>
                    </div>
                    <!-- <div class="form-group col-sm-6">
                        <label>Product Type</label>
                        <select class="form-control" formControlName="prodType">
                            <option *ngFor="let p of lstProductType" [value]="p.id">
                                {{p.name}}
                            </option>
                        </select>
                    </div> -->
                </div>

                <div class="row">
                    <!-- <div class="form-group col-sm-6">
                        <label>Search Sub Categories?
                            <input type="checkbox" formControlName="searchSubCat"></label>
                    </div> -->

                </div>

                <div class="row">
                    <!-- <div class="form-group col-sm-6">
                        <label>Manufacturer</label>
                        <select class="form-control" formControlName="manufacturer">
                            <option [value]=0>All</option>
                            <option *ngFor="let m of lstManufacturer" [value]="m.id">{{m.name}}
                            </option>
                        </select>
                    </div> -->
                    <div class="form-group col-sm-6">
                        <label>Vendor</label>
                        <select class="form-control" formControlName="vendor">
                            <option *ngFor="let v of lstVendor" [value]="v.id">
                                {{v.name}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group col-sm-6">
                        <label>Go directly to product SKU</label>
                        <div class="input-group">
                            <input type="text" class="form-control" formControlName="sku">
                            <span class="input-group-append">
                                <button type="button" class="btn btn-primary" (click)="goToEditProduct()">Go</button>
                            </span>
                        </div>
                    </div>
                </div>

                <!-- <div class="row">
                   
                </div> -->
                        <button class="btn btn-info btn-sm text-white pull-right " (click)="searchList()"><i class="fa fa-search"></i>
                            Search</button>
            </div>
        </div>
    </div>
</form>
<app-product-list></app-product-list>