<div class="col-sm-12">
    <div class="card">
        <div class="card-header">
            <strong>Customers</strong>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Order#</th>
                        <th>Order total</th>
                        <th>Order status</th>
                        <th>Payment status</th>
                        <th>Shipping status</th>
                        <th>Created on</th>
                        <th>View</th>

                    </tr>
                    <tr
                        *ngFor="let o of lstOrders | paginate: { itemsPerPage: pageSize, currentPage: pageIndex, totalItems: totalRecords }; let i=index">
                        <td>{{o.orderId }}</td>
                        <td>${{o.orderTotal}}</td>
                        <td>
                            <span [ngClass]="{
                                        'badge-info': o.orderStatus == 'Processing',
                                        'badge-warning': o.orderStatus =='Pending',
                                        'badge-success': o.orderStatus =='Complete',
                                        'badge-danger': o.orderStatus =='Cancelled'}" class="badge">
                                {{o.orderStatus}}</span>
                        </td>
                        <td>{{o.paymentStatus}}</td>
                        <td>{{o.shippingStatus}}</td>
                        <td>{{o.createdOn | date :'dd/MM/yyyy,h:mm:ss a'}}</td>
                        <td>
                            <button class="btn bg-white btn-sm" (click)="navigateToOrders(o.orderId)">
                                <i class="fa fa-eye"></i>
                            </button>

                        </td>
                    </tr>
                    <tr class="top-mrging">
                        <td colspan="9" *ngIf="(lstOrders).length == 0" role="alert" class="alert-warning">
                        <strong>No record found</strong>
                        </td>
                        </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col-md-3 col-12">
                    <div class="total-count--table">
                        <span>Total number of records : {{ totalRecords}}</span>
                        <button class="btn btn-primary btn-sm" (click)="getCustomerOrders()"><i
                                class="fa fa-refresh"></i></button>
                    </div>
                </div>
                <div class="col-md-6 col-12" *ngIf="(lstOrders).length > 0">
                    <div class="text-right pagignation-page">
                        <pagination-controls class="pagination-sm pagination-box" (pageChange)="pageChanged($event)">
                        </pagination-controls>
                    </div>
                </div>

                <div class="col-md-3 col-12" *ngIf="lstOrders.length > 0">
                    <div class="text-left pagignation-select">
                        <select class="form-control" [(ngModel)]="pageSize"
                            (change)="changePageSize($event.target.value)">
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                            <option value="40">40</option>
                            <option value="50">50</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>